* {
  outline: 1px solid #0bc1ed;
}

body {
  /*m0*/
  /*p0*/
  /*w100vw*/
  /*h100vh*/
  /*dib*/

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: inline-block;
}


.caja {


  /* márgenes: */

  /* definir todos los margenes*/
  /*m50*/
  margin: 50px;

  /* definir horizontal y vertical */
  /*m50px200px*/
  margin: 50px 200px;

  /* definir cada margen */
  /*m50px200px300px400px*/
  /* arriba, derecha, abajo, izquierda,
  siguiendo las manecillas del reloj */

  margin: 50px 200px 300px 400px;

  /*mt20*/
  margin-top: 20px;
  /*mr40*/
  margin-right: 40px;
  /*mb60*/
  margin-bottom: 60px;
  /*ml80*/
  margin-left: 80px;



  /* padding */
  /*p50*/
  padding: 50px;
  /* sus valores siguen la logica de margin */
  padding: 100px 50px;

  /* border */
  /* border cambia el ancho total de la caja */
  border: 5px dotted green;

  /* solo un lado: */
  border-left: 10px solid red;


  /* dimensiones */

  width: 30%; /* porcentaje */
  height: 300px; /* pixeles */

  /*w50vw*/
  /* porcentaje de ancho de ventana */
  width: 50vw;

  /*h30vh*/
  /* porcentaje de alto de ventana */
  height: 30vh;

  width: 300px;
  height: 150px;




  /* la siguiente declaracion nos ayuda a que
  el padding no afecte la dimenison de la caja: */

  /*bzbb*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* acomodando cajas: */
  /*dib*/
  display: inline-block;
  /*db*/
  display: block;
  /*fl*/
  float: left;
  float: right; /* invierte el orden */


  
}
