* {

  /*
  outline: 1px solid #0bc1ed;
  */

  /*bzbb*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

/* reset */
body, ul, li {
  /*p0*/
  padding: 0;
  /*m0*/
  margin: 0;
}

/* regla temporal, tiene problemas */
img {
  /*w100p*/
  width: 100%;
  /*h100p*/
  height: 100%;
}






body > header,
body > footer {
  /*posf  */
  position: fixed;
  width: 100%;
}


body > header {
  /*t0*/
  top: 0;
  /*bgc#ddd*/
  background-color: #ddd;
  /*h48*/
  height: 48px;

  /* colocar en capa superior */
  /*zi99*/
  z-index: 99;
}

body > footer {
  /*b0*/
  bottom: 0;
  /*bgc#ccc*/
  background-color: #ccc;
  /*h32*/
  height: 32px;

  /*tac*/
  text-align: center;
  padding: 9px;

  font-size: 12px;

}


body > main {

  /* arreglar espacio bajo menu superior */

  /*posr*/
  /*
  position: relative;
  top: 48px;
  */

  /* alternativas: margin y padding*/

  /*mt48*/
  /*margin-top: 48px;*/

  /*pt48*/
  padding-top: 48px;



  /* solucionar espacio que queda debajo de footer */

  /*pb32*/
  padding-bottom: 32px;

}


body > header > .logo,
body > header > nav {
  /*h100p*/
  height: 100%;
  /*dib*/
  display: inline-block;
  /*fl*/
  float: left;
}

body > header > .boton-menu {
  /*w48*/
  width: 48px;
  /*h48*/
  height: 48px;
}


body > header > .logo {
  /*w20p*/
  width: 20%;
}

body > header > nav {
  /*w80p*/
  width: 80%;
  /*tar*/
  text-align: right;
}



body > header > nav li {
  /*wa*/
  width: auto;
  /*dib*/
  display: inline-block;
  /*p16*/
  padding: 16px;
}


body > header > nav li a {
  color: black;
  /*tdn*/
  text-decoration: none;
  /*fz14*/
  font-size: 14px;
}



body > header > .boton-menu {
    /*fr*/
    float: right;
    /*fz24*/
    font-size: 24px;

    color: #555;

}


/* media queries para menu responsivo */

/* esconder menu en dispositivos chicos: */
@media screen and ( max-width: 960px ) {

    body > header > nav {
        display: none;
    }

    body > header > nav {

      /*w100p*/
      width: 100%;
      /*h100vh*/
      height: 100vh;
      /*bgc#ddd*/
      background-color: #ddd;

    }

    body > header > nav li {
        /*w100p*/
        width: 100vw;
        /*h20vh*/
        height: 20vh;
        /*bgc#eee*/
        background-color: #eee;
        /*db*/
        display: block;
        /*tac*/
        text-align: center;
        padding: 32px;

    }

    body > header > nav li:nth-child(even) {
      background-color: #eee;
    }

    body > header > nav li:nth-child(odd) {
      background-color: #ccc;
    }
    

    /* sobreescribimos ancho de logo en dispositivos moviles */
    body > header > .logo {
        /*w50p*/
        width: 30%;
    }
    body > header > .boton-menu {
        display: inline-block;
    }

}


@media screen and ( min-width: 960px ) {

  body > header > nav {
      display: inline-block;
  }
  body > header > .boton-menu {
      display: none;
  }

}






#portada {
  /*h60vh*/
  height: 60vh;
  /*posr*/
  position: relative;
}


#portada .fondo,
#portada .texto {
  /*posa*/
  position: absolute;
  /*l0*/
  left: 0;
  /*t0*/
  top: 0;
  /*w100p*/
  width: 100%;
  /*h100p*/
  height: 100%;
}


#portada .texto {
  /*tac*/
  text-align: center;
  /*w50vw*/
  width: 50vw;
  /*ml25vw*/
  margin-left: 25vw;

  /*txsh*/
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);

}

#portada .texto li {

  /*h20vh*/
  height: 20vh;

  /*fz6vh*/
  font-size: 6vh;

  /*pt3vh*/
  padding-top: 3vh;

  /* quitar balas de lista */
  list-style: none;

}

#portada .texto li a {
  color: #fff;
  /*tdn*/
  text-decoration: none;
}



#contenido {

  /*w100p*/
  width: 100%;

  max-width: 62em;
  margin: 0 auto;

  padding: 32px;


}

@media screen and (min-width:960px) {

  #portada .texto li {
    /*fz6vh*/
    font-size: 8vh;

    /*pt3vh*/
    padding-top: 5vh;
  }

  #contenido {
    padding: 48px 96px;
  }

}


/* clases utiles: */

.contenedor {
  max-width: 62em;
  margin: 0 auto;
}
